/* ---- reset ---- */

html{
	background-color:black;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
#bg {
  position: absolute;
  width: 100%;
  height:2700px;
  background-color: #000000;
  background-image: url("");
  background-repeat: repeat;
  background-size: cover;
  
  background-position: 50% 50%;
}
/*
.Rectangle8{
position: fixed;
width: 100%;
height: 69px;
left: 0px;
top: 100px;
z-index:3;
display:flex;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0.0434) 53.12%, rgba(27, 90, 252, 0.0868) 75%, rgba(255, 255, 255, 0.14) 96.35%);
}
.Martihin{
position: fixed;
width: 100%;
left:25px;
height: 55px;
top: 60px;
z-index:2;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 45px;
line-height: 54px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #EFD9F1;}
/*
.posmenu1{
position: fixed;
height: 44px;
left: 45%;
top: 115px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 27px;
list-style-type: none;
line-height: 33px;
color: #EFD9F1;
}
.posmenu2{
position: fixed;
height: 44px;
left: 60%;
top: 115px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 27px;
line-height: 33px;
list-style-type: none;
color: #EFD9F1;
}
.posmenu3{
position: fixed;

left: 70%;
height: 44px;
top: 115px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
list-style-type: none;
font-size: 27px;
line-height: 33px;
color: #EFD9F1;
}
.posmenu4{
position: fixed;

left: 83%;
height: 44px;
top: 115px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
list-style-type: none;
font-size: 27px;
line-height: 33px;
color: #EFD9F1;
}*/
/*
.h-nav {
height: 44px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
left: 45%;
position:fixed;
z-index:3;
position: fixed;
list-style-type: none;
font-size: 27px;
line-height: 33px;
color: #EFD9F1;
top: 90px;

}
.h-nav li {
	display: inline-block;
	padding-right:70px;
	border-right: none;
	}
.h-nav a {
	display: inline-block;	
  -webkit-box-shadow: 0 0 70px #fff;
  -moz-box-shadow: 0 0 70px #fff;
  box-shadow: 0 0 70px #fff;
  text-decoration:none;
  color: #EFD9F1;
  padding: 20px 30px;
  border-right: 1px solid #3D3D3D;
	}
.h-nav a:hover, .h-nav a.is-active {
	color: #EFD9F1;
	
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0.0434) 53.12%, rgba(27, 90, 252, 0.0868) 75%, rgba(255, 255, 255, 0.14) 96.35%);
	}
*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
}
.clearfix {
  *zoom: 1;
}
html {
  font-family: Helvetica, arial, sans-serif;
  font-size: 12px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.container {
  width: 80%;
  margin: 0 auto;
}
header {
  width: 100%;
  height: auto;
  background: black;
}
.header-left,
.header-right {
  position: relative;
  color: white;
  float: left;
}
.header-left {
  width: 40%;
  padding-top:35px;
}
.header-right label {
  position: absolute;
  top: -3.7em;
  right: 0;
  cursor: pointer;
}
.header-right span {
  position: relative;
  width: 2em;
  height: 2em;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease;
}
.header-right span:hover {
  background: rgba(255, 255, 255, 0.6);
}
.header-right span:before,
.header-right span:after {
  content: "";
  position: absolute;
  width: 2em;
  height: 0.5em;
  top: 4px;
  left: 0;
  background: black;
}
.header-right span:after {
  top: 14px;
}
.header-right {
  width: 60%;
  text-align: right;
}
#open {
  display: none;
}

.Rectangle12 nav > a {
  line-height: 40px;
  color: #efd9f1;
  width: 100%;
font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
}


.Rectangle12 nav:hover {
font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  background: white;
  background-size: cover;
  transition: 0.3s linear;
}

.Rectangle12 nav>a:hover{
	color:black;
}

.Rectangle12 nav:hover a{
	color:black;
}

a {
  text-decoration: none;
  color: #efd9f1;
}
.Rectangle12 {
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0.0434) 53.12%, rgba(27, 90, 252, 0.0868) 75%, rgba(255, 255, 255, 0.14) 96.35%);

}


header h1 {
  font-weight: 300;
  line-height: 70px;
  color: #efd9f1;
  font-size: 60px;
}
header a {
  text-decoration: none;
  color: #efd9f1;
}
header nav > a {
  position: relative;
  display: inline-block;
  font-size: 25px;
  line-height: 150px;
  padding: 0 1em;
  -webkit-transition: all 0.3s ease;
}
header nav > a:hover {
  background: rgba(255, 255, 255, 0.9);
  color: black;
}
.hidden-desktop {
  display: none;
}
section {
  width: 100%;
  height: auto;
  background-image: -webkit-linear-gradient(#80059e 0%, #550486 100%);
}
.section-left,
.section-right {
  float: left;
}
.section-left {
  width: 70%;
  padding: 3em 0;
}
.section-right {
  width: 30%;
}
.section-title,
.section-tagline {
  color: white;
  font-weight: 300;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.4s ease;
}
.section-title {
  font-size: 4em;
  margin-bottom: 0.3em;
  text-shadow: 0 3px 0px black, 0 4px 0px rgba(150, 150, 150, 0.5);
}
.section-tagline {
  font-size: 1em;
}
.learn-more {
  display: table;
  margin: 3em auto 0;
  padding: 1em 6em;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.8);
  background: #eaaf00;
  background-image: -webkit-linear-gradient(#eaaf00 0%, #d78100 100%);
  font-size: 1.2em;
}
.learn-more:hover {
  background: #eaaf00;
}
.learn-more:active {
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.8);
}

main {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: rgba(0, 0, 0, 0);
   position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  top:2700px;	
  z-index: 3;

}

main h1 {
  font-weight: 300;
  line-height:200%;
  color: #efd9f1;
  text-align: center;
  font-size: 40px;
}

.telo {
	
  width: 75%;	
  text-align: center;
  margin-left: 12.5%;
  background: linear-gradient(
    180deg,
    rgba(52, 63, 106, 0.5) 0%,
    rgba(47, 61, 115, 0.5) 4.69%,
    rgba(47, 61, 115, 0.5) 96.35%,
    rgba(52, 63, 106, 0) 100%
  );
}

/* Собственно сам слайдер */
.slider{
    max-width: 80%;
    position: relative;
    height: 400px;
	z-index:3;
	border-top:1px solid gray;
border-bottom:1px solid gray;
    margin-bottom: 130px;
    margin: auto;
}


/* Кнопки вперед и назад */
.slider .prev{
    cursor: pointer;
    position: absolute;
	
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
	right:105%;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
	z-index:3;
}
 .slider .next {
    cursor: pointer;
    position: absolute;
	left:105%;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
	padding-right:40px;
    color: white;
    font-weight: bold;
    font-size: 50px;
	z-index:3;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.slider .next {
    right: 0;
	z-index:3;
    border-radius: 3px 0 0 3px;
}


/* При наведении на кнопки добавляем фон кнопок */

.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Заголовок слайда */
.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
	padding-top:5%;
	left:50%;
    /* Выравнивание текста по горизонтали и по вертикали*/
    transform: translate(-50%, -50%);
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}



/* Кружочки */

.slider-dots {
  text-align: center;
 
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
    background-color: #aaa;
}


/* Анимация слайдов */

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* Собственно сам слайдер */
.slider2{
    max-width: 80%;
    position: relative;
    height: 400px;
	z-index:3;
	border-top:1px solid gray;
border-bottom:1px solid gray;
    margin-bottom: 130px;
    margin: auto;
}


/* Кнопки вперед и назад */
.slider2 .prev2{
    cursor: pointer;
    position: absolute;
	
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
	right:105%;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
	z-index:3;
}
 .slider2 .next2 {
    cursor: pointer;
    position: absolute;
	left:105%;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
	padding-right:40px;
    color: white;
    font-weight: bold;
    font-size: 50px;
	z-index:3;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.slider2 .next2 {
    right: 0;
	z-index:3;
    border-radius: 3px 0 0 3px;
}


/* При наведении на кнопки добавляем фон кнопок */

.slider2 .prev2:hover,
.slider2 .next2:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Заголовок слайда */
.slideText3{
    position: absolute;
    color: #fff;
	line-height: 30px;
    font-size: 35px;
	padding-top:10%;
	left:50%;
    /* Выравнивание текста по горизонтали и по вертикали*/
    transform: translate(-50%, -50%);
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}



/* Кружочки */

.slider-dots2 {
  text-align: center;
 
}
.slider-dots_item2{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active2,
.slider-dots_item2:hover {
    background-color: #aaa;
}


/* Анимация слайдов */

.slider2 .item2 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}



/* Собственно сам слайдер */
.slider3{
    max-width: 80%;
    position: relative;
    height: 400px;
	z-index:3;
	border-top:1px solid gray;
border-bottom:1px solid gray;
    margin-bottom: 130px;
    margin: auto;
}


/* Кнопки вперед и назад */
.slider3 .prev3{
    cursor: pointer;
    position: absolute;
	
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
	right:105%;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
	z-index:3;
}
 .slider3 .next3 {
    cursor: pointer;
    position: absolute;
	left:105%;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
	padding-right:40px;
    color: white;
    font-weight: bold;
    font-size: 50px;
	z-index:3;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.slider3 .next3 {
    right: 0;
	z-index:3;
    border-radius: 3px 0 0 3px;
}


/* При наведении на кнопки добавляем фон кнопок */

.slider3 .prev3:hover,
.slider3 .next3:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Заголовок слайда */
.slideText5{
    position: absolute;
    color: #fff;
	line-height: 30px;
    font-size: 35px;
	padding-top:10%;
	left:50%;
    /* Выравнивание текста по горизонтали и по вертикали*/
    transform: translate(-50%, -50%);
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}



/* Кружочки */

.slider-dots3 {
  text-align: center;
 
}
.slider-dots_item3{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active3,
.slider-dots_item3:hover {
    background-color: #aaa;
}


/* Анимация слайдов */

.slider3 .item3 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* Собственно сам слайдер */
.slider4{
    max-width: 80%;
    position: relative;
    height: 400px;
	z-index:3;
	border-top:1px solid gray;
border-bottom:1px solid gray;
    margin-bottom: 130px;
    margin: auto;
}


/* Кнопки вперед и назад */
.slider4 .prev4{
    cursor: pointer;
    position: absolute;
	visibility:hidden;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
	right:105%;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
	z-index:3;
}
 .slider4 .next4 {
    cursor: pointer;
    position: absolute;
	left:105%;
    top: 0;
	
	visibility:hidden;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
	padding-right:40px;
    color: white;
    font-weight: bold;
    font-size: 50px;
	z-index:3;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.slider4 .next4 {
    right: 0;
	z-index:3;
    border-radius: 3px 0 0 3px;
}


/* При наведении на кнопки добавляем фон кнопок */

.slider4 .prev4:hover,
.slider4 .next4:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Заголовок слайда */
.slideText7{
    position: absolute;
    color: #fff;
	line-height: 30px;
    font-size: 35px;
	padding-top:10%;
	left:50%;
    /* Выравнивание текста по горизонтали и по вертикали*/
    transform: translate(-50%, -50%);
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}



/* Кружочки */

.slider-dots4 {
  text-align: center;
 
}
.slider-dots_item4{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active4,
.slider-dots_item4:hover {
    background-color: #aaa;
}


/* Анимация слайдов */

.slider4 .item4 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}



.osninfo h1{
	text-align:center;
}
.osninfo{  font-family: "Inter";}
.Kontackt{
font-family: 'Montserrat', sans-serif;}
.osninfo,.Kontackt {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;

  color: #efd9f1;
}

.Kontackt{
	text-align: center;
	background: black;
	border-top:1px solid gray;
	
}

.Kontackt table{
	margin-left: 15%;
  margin-right: 25%;
  border-spacing: 40px;
  border-collapse: separate;
}

.pkontact{
	font-size:32px;
}

/*Desctop*/
@media only screen and (max-width:1450px){
.slideText {
	padding-top: 15%;
	
}
.slideText5 {
	padding-top: 15%;
}


.slider {
	height:640px;
}
.slider2 {
	height:640px;
}
.slider3 {
	height:480px;
}
.slider4 {
	height:550px;
}
#bg{
	height:3600px;
}
footer{
	top:3600px;
}


.Kontackt table {
    margin-left: 10%;
    margin-right: 0;
}
.Kontackt{
	font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 250%;
line-height: 50px;
}
.osninfo{
	font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 300%;
	line-height: 50px;
}

}

@media only screen and (max-width:1200px){

.slider {
	height:760px;
}
.slider2 {
	height:640px;
}
.slider3 {
	height:500px;
}
.slider4 {
	height:720px;
	border-bottom:0px;
}
.slideText8 {
	border-bottom:1px solid gray;
}
.Kontackt table {
	margin-left:0;
}
body{
	height:3800px;
}
footer{
	top:3800px;
}
}
@media only screen and (max-width:992px){
	body{
	height:4700px;
}
footer{
	top:4700px;
}
	.slider {
	height:900px;
}
.slider2 {
	height:900px;
}

.slideText{
	padding-top: 30%;
	width:400px;
}
.slideText3{
	padding-top: 30%;
}
.slideText5{
	padding-top: 30%;
	line-height:50px;
}
.slideText7{
	padding-top: 30%;
	line-height:50px;
}
.slider3 {
	
	height:650px;
}
.slider4 {
	height:900px;
	border-bottom:0px;
}
	
.Kontackt table {
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center;
	text-align:center;
	margin-right: 0;
}
.Kontackt td {
	display: block;
	    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center;
	text-align:center;
}
}
@media only screen and (max-width:768px){
body {
    padding: 0 0.5em;
  }
  .container {
    width: 90%;
  }
  header nav {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
  }
  input[type="checkbox"]:checked + nav {
    height: 205px;
  }
  header nav > a {
    padding: 0 1em;
    display: block;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }
  header h1 {
    font-size: 50px;
    padding: 0.5em 0;
  }
  
  .header-left,
  .header-right {
    width: 100%;
    text-align: center;
  }
  .section-left,
  .section-right {
    width: 100%;
  }
  .section-left {
    text-align: center;
    padding: 1em 0;
  }
  .section-right {
    text-align: center;
    padding: 1em 0 2em;
  }
  .section-title {
    font-size: 2.4em;
    margin-bottom: 0;
  }
  .section-tagline {
    font-size: 1em;
  }
  .learn-more {
    display: table;
    margin: 0 auto;
  }
  .hidden-desktop {
    display: block;
  }
  .osninfo img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.osninfo{
    font-size: 200%;
    line-height: 30px;
}
	main h1 {
	font-size:30px;
	}

.pkontact {
    font-size: 23px;
}
.Kontackt{
    font-size: 170%;
    line-height: 30px;
}
input[type="checkbox"]:checked + nav {
    height: 500px;
}

.slideText {
	font-size:25px;
	width:300px;
}
.slider{
	height:650px;
}
.slider .prev,.slider .next {
top: 30%;
}
.slider2 .prev2,.slider2 .next2 {
top: 30%;
}
.slider2 .prev2,.slider2 .next2 {
top: 30%;
}
.slider2{
	height:600px;
}
.slider3{
	height:400px;
}
.slider4{
	height:600px;
}
.slideText5{
	font-size:25px;
	width:300px;
	line-height: 30px;
	
}
.slideText3{
	font-size:25px;
	width:300px;
}
.slideText7{
	font-size:25px;
	width:300px;
}

footer{
	top:3100px;
}
body{
	height:3100px;
}
#overlay {
	visibility:visible;
}
}
@media only screen and (max-width:480px){
	header nav > a {
		 line-height: 50px;
	}
	input[type="checkbox"]:checked + nav {
    height: 200px;
}
.slider {
    max-height: 730px;
	min-height:500px;
}
.slider2 {
    height: 650px;
}
.slider3 {
    height: 450px;
}
.slider4 {
    height: 900px;
}
.slideText2{
	font-size:80%;
}
.slideText5{
	padding-top:95px;
	margin-bottom:55px;
	width:150px;
}
.slideText4{
	font-size:80%;
}
.slideText6{
	font-size:80%;
}
.slideText7{
	width:200px;
	line-height:25px;
}
main{
	width:100%;
}
body,#bg{
	height:3700px;
}
footer{
	top:3700px;
}
}
@media only screen and (max-width:320px){

}